/*페이지 공통 스타일*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.header-container {
  background-color: black;
  text-align: center;
}

.header-image {
  display: inline-block;
  align-items: center;
  justify-content: center;
  max-width: 27%;
  height: auto;
}

/*Pagination 스타일*/

.pagination{
  margin-left: 55px;
  margin-top: 20px;
}

.pagination .page-link { /*페이지네이션 배경 및 폰트 색*/
  background-color: transparent; 
  color: white; 
}

.pagination .page-link:hover { /*페이지네이션 hover시 배경색*/
  background-color: rgb(44, 44, 44);
}

.pagination .page-item.active .page-link { /*페이지네이션 현페이지 배경색*/
  background-color: grey; 
  border:1px solid white;
  color: white; 
}

/* INDEX HTML */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px
}

#search-input {
  width: 230px;
  height: 35px;
  background-color: rgb(44, 44, 44);
  box-sizing: border-box;
  border: 1px ridge rgb(0, 0, 0);
  color: white;
}

#search-button {
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

#search-button img {
  width: 28px;
  height: auto;
  border: 1px solid black;
  /* Add a border for visualization */
  transition: transform 0.2s ease;
}

#movie_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.movie-card {
  width: calc(23% - 20px);
  height: auto;
  padding: 5px;
  margin: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  color: white;
  transition: transform 0.2s ease;
  /* Add transition effect */
}

.movie-card:hover {
  transform: scale(1.05);
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
  .movie-card {
    width: calc(33.33% - 20px);
    /* Show 3 movie cards per row for screens <= 768px */
  }
}

/* Further adjustments for even smaller screens */
@media screen and (max-width: 480px) {
  .movie-card {
    width: calc(50% - 20px);
    /* Show 2 movie cards per row for screens <= 480px */
  }
}

.movie-poster {
  width: auto;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(2.3px + 1vw);
  margin-top: 13px;
}

/* MOVIE-DETAIL HTML */

#movie-detail {
  width: 80%;
  margin: 0 auto;
  /* 가운데로 배열 (포스터, 줄거리, 제목, 평 */
  display: flex;
  flex-wrap: wrap;
}


.movie-info {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 40px;
  margin: 30px 70px 70px 70px;
  display: flex;
  flex-direction: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
  color: white;
}

.card-body {
  margin-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-title {
  font-size: 2.3vw;
  font-weight: bolder;
}

.card-text {
  font-size: 1.5vwpx;
  font-style: italic;
}

.ratings {
  display: flex;
  align-items: center;
  color: grey
}

.fas,
.bi {
  /*별 아이콘*/
  font-size: 15px;
  /* 아이콘 크기 설정 */
  color: gold;
  /* 아이콘 색상 설정 */
}

.calculate-star {
  margin-right: 5px;
  /* Adjust margin as needed */
}

/* Adjust font size and layout for smaller screens */
@media screen and (max-width: 768px) {
  .card {
      padding: 20px;
      margin: 20px 5%; /*위아래 마진 & 옆 마진*/
  }

  .card-poster {
      max-width: 100%; /* Ensures the image does not exceed its container width */
      height: auto; /* Allows the height to adjust proportionally with the width */
      margin-bottom: 30px; /* Adjust margin as needed */
      width: 50%; /* Set the width of the poster relative to its container */
  }

  .card-body {
      width: 70%;
  }

  .card-title {
      font-size: 3vw; /*viewpoint*/
  }

  .card-text {
      font-size: 2vw;
  }

  .ratings {
      font-size: 2vw;
  }

  .calculate-star {
      font-size: 1vw;
  }
}

#back-button {
  margin-top: 40px;
  width: 30%;
}

/* MOVIE-REVIEW */

.movie-review {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.btn {
  width: calc(100% - 20px);
  margin: 10px;
}

.login {
  width: calc(100% - 20px);
  background-color: transparent;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login::after {
  content: '';
  display: block;
  width: calc(100% - 20px);
  /* Adjust the width of the line */
  height: 1px;
  background-color: grey;
  margin: 10px 20px;
  /* Adjust the margin to control the space between .RV and the line */
}

.IP { /*아이디 & 비번*/
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 25%;
  /* 4개의 아이템이 가로로 배열되도록 설정 */
  padding: 0 5px;
  /* 각 아이템 간의 간격 설정 */
}

.prevID,
.prevPW {
  font-weight: bold;
  margin: 10px;
}

.ID,
.PW { /*아이디 & 비번 입력칸*/
  margin: 10px;
  border-radius: 5px;
}

.RV { /*리뷰 등록 버튼*/
  width: calc(100% - 20px);
  height: 50px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.reviewed { /*등록된 리뷰들 칸*/
  background-color: transparent;
  width: calc(97.5% - 20px);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
  height: 50%;
}

.reviewed .row{
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  padding-top:15px;
}

#modify,
#remove {
  border-radius: 5px;
}
