body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: black;
  text-align: center;
}

/* Style for the header image */
.header-image {
  display: inline-block;
  max-width: 35%;
  height: auto;
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#search-input {
  width: 300px;
  height: 38px;
}

#search-button {
  margin-left: 10px;
  border-radius: 0px;
}

#movie_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
}

.movie-card {
  width: calc(25% - 20px);
  height: 675px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  display: flex;
  /* Use flexbox layout */
  flex-direction: column;
  /* Arrange child elements vertically */
  border: 1px solid rgb(255, 64, 6);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}

.movie-ir {
  width: calc(100% - 20px);
  height: 675px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  /* display: flex; */
  /* Use flexbox layout */
  flex-direction: column;
  /* Arrange child elements vertically */
  border: 1px solid rgb(255, 64, 6);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}

.movie-info {
  display: flex;
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
  .movie-card {
    width: calc(33.33% - 20px);
    /* Show 3 movie cards per row for screens <= 768px */
  }
}

/* Further adjustments for even smaller screens */
@media screen and (max-width: 480px) {
  .movie-card {
    width: calc(50% - 20px);
    /* Show 2 movie cards per row for screens <= 480px */
  }
}

.movie-poster {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.title {
  margin: 10px auto 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(9px + 1vw);
  /* Adjust font size using viewport width */
  font-weight: bold;
}

.overview {
  font-size: calc(8px + 0.5vw);
  overflow-y: auto;
  flex: 1;
  /* Allow the overview section to expand to fill available space */
  margin-bottom: 15px;
}

.vote-average {
  font-size: calc(8px + 0.5vw);
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: grey;
}